/*global elements*/

	@font-face {
		font-family: "bitwise";
		src: url(../fonts/bitwise.ttf);
	}

	@font-face {
		font-family:"typeWrong";
		src: url(../fonts/typwrng.ttf);
	}



	body {
		animation: colorRotate 30s infinite; 
	}

/*navbar*/

	.navbarWeb {
		z-index: 15;
		background: rgba(0,0,0,0.3);
		position: fixed;
		top: 0;
		width: 100%;
		display: flex;
		color: #fff;
	}

	#header {
		height: 2em;
		justify-content: space-between;
		align-items: center;
	}

	.headerContent {
		display: flex;
		padding: 0 2%;
	}

	.navLink {
		padding: 0 50px;
		text-decoration: none;
	}

	.navLink:visited {
		color: #fff;
	}

	.headerContent img {
		max-width: auto;
		height: 50px;
		align-self: flex-end;
	}



	.navbarLink {
		margin: 0 25px;
	}

/*page elements*/

	.screen {
		position: relative;
		overflow: hidden;
		height: 100vh;
		background: url("../img/neonGrid.png");
		background-size: cover;
	}

	/*intro*/

		.backgroundImage {
			z-index: -1;
			position: absolute;
			height: 100%;
			width: 100%;
			background-image: url("../img/splashBackground2.jpg");
			filter: contrast(170%);
			background-repeat: no-repeat;
    		background-size: cover;
		}

		#splashContent {
			color: white;
			z-index: 5;
			background: rgba(255,255,255,0.2);
			height: 100%;
			width: 100%;
			display: grid;
			grid-template-rows: auto 10%;
			grid-template-areas:
			"splashText"
			"splashScroll";
		}

		#splashText {
			grid-area: "splashText";
			justify-self: center;
			align-self: center;
		}

		#splashScroll {
			grid-area: "splashScroll";
			justify-self: center;
			align-self: center;
			padding: 1em;
			background: green;
		}

	/*bio*/

		#bio {
			display: grid;
			grid-template-rows: 90% 10%;
			grid-template-areas:
			"bioContent"
			"bioSkills";
		}

		#bioContent {
			z-index: 2;
			grid-area: "bioContent";
			justify-self: center;
			align-self: center;
		}

		#bioSkills {
			z-index: 2;
			grid-area: "bioSkills";
			justify-self: center;
			align-self: center;
		}

	/*portfolio*/
		
		#portfolio {

		}

	/*background divs (aesthetic)*/
		.backDiv {
			height: 100%;
			width: 100%;
			position: absolute;
			border: double 75px rgba(171, 32, 253, 0.2);
			box-sizing: border-box;
			animation: divColorRotate 60s infinite; 
		}

		#backDivOne {
			transform: rotate(10deg);
		}

		#backDivTwo {
			transform: rotate(-10deg);
		}	

	/*font rules*/
		h1 {
			font-family: "typeWrong";
			font-size: 3em;
		}

		h2 {
			font-family: "bitwise";
			font-size: 3em;
		}

		h6 {
			font-family: "bitwise";
		}

		.navbarWeb a {
			font-family: "bitwise";
		}

	/*background animations*/

		@keyframes colorRotate {
			0%, 100% {
				background-color: #000000;
			}
			20% {
				background-color: #251f47;
			}
			40% {
				background-color: #ab20fd;
			}
			60% {
				background-color: #200589;
			}
			80% {
				background-color: #3a3170;
			}
		}

				@keyframes divColorRotate {
			0%, 100% {
				background-color: #6cc3bd;
			}
			20% {
				background-color: #5a819e;
			}
			40% {
				background-color: #7c7aa1;
			}
			60% {
				background-color: #f67e7d;
			}
			80% {
				background-color: #ffc1a8;
			}
		}