/*global elements*/

	@font-face {
		font-family: "bitwise";
		src: url(../fonts/bitwise.ttf);
	}

	@font-face {
		font-family:"typeWrong";
		src: url(../fonts/typwrng.ttf);
	}



	body {
		animation: colorRotate 30s infinite;
	}

/*navbar*/

	.navbarWeb {
		z-index: 15;
		background: rgba(0,0,0,0.3);
		position: fixed;
		top: 0;
		width: 100%;
		display: flex;
		color: #fff;
	}

	#header {
		height: 2em;
		justify-content: space-between;
		align-items: center;
	}

	.headerContent {
		display: flex;
		padding: 0 2%;
	}

	.navLink {
		padding: 0 50px;
		text-decoration: none;
		color: #33FF00;
/*		text-shadow: 2px 2px #fff;*/
	}

	.navLink:visited {
		color: #33FF00;
	}

	.headerContent img {
		max-width: auto;
		height: 50px;
		align-self: flex-end;
	}



	.navbarLink {
		margin: 0 25px;
	}

/*page elements*/

	.screen {
		position: relative;
		overflow: hidden;
		height: 100vh;
		background: url("../img/neonGrid.png");
		background-size: cover;
	}

	/*intro*/

		.backgroundImage {
			z-index: -1;
			position: absolute;
			height: 100%;
			width: 100%;
			background-image: url("../img/splashBackground2.jpg");
			filter: contrast(170%);
			background-repeat: no-repeat;
    		background-size: cover;
		}

		#splashContent {
			color: white;
			z-index: 5;
			background: rgba(0,0,0,0.2);
			height: 100%;
			width: 100%;
			display: grid;
			grid-template-rows: auto 10%;
			grid-template-areas:
			"splashText"
			"splashScroll";
		}

		#splashText {
			grid-area: "splashText";
			justify-self: center;
			align-self: center;
		}

		#splashScroll {
			grid-area: "splashScroll";
			justify-self: center;
			align-self: center;
			padding: 1em;
		}

	/*bio*/

		#bio {
			display: grid;
			grid-template-rows: 80% 20%;
			grid-template-areas:
			"bioContent"
			"bioSkills";
		}

		#bioContent {
			z-index: 2;
			grid-area: "bioContent";
			justify-self: center;
			align-self: center;
			display: flex;
			align-items: center;
			width: 70%;
			color: #33FF00;
		}

		#bioContent img {
			height: 300px;
			width: 300px;
			margin: 0 5em;
			border: 5px solid #ffe8e8;
			box-shadow: 0 0 50px #FF0000, 0 0 50px #0000FF;
			border-radius: 50%;
			filter: saturate(3) contrast(150%);
		}

		#bioSkills {
			z-index: 2;
			grid-area: "bioSkills";
			justify-self: center;
			align-self: center;
			display: flex;
			width: 100%;
			justify-content: space-around;
		}

		#bioSkills img {
			max-height: 100px;
			max-width: 100px;
		}

	/*portfolio*/
		
		#portfolio {

		}

	/*background divs (aesthetic)*/
		.backDiv {
			height: 100%;
			width: 100%;
			position: absolute;
			border: 5px solid #ffe8e8;
			box-shadow: 0 0 50px #FF0000, 0 0 50px #0000FF;
			box-sizing: border-box;
		}

		#backDivOne {
			transform: rotate(10deg);
		}

		#backDivTwo {
			transform: rotate(-10deg);
		}	

	/*font rules*/
		h1 {
			font-family: "typeWrong";
			font-size: 3em;
		}

		h2 {
			font-family: "bitwise";
			font-size: 5em;
		}

		h3 {
			font-family: "bitwise";
			font-size: 3em;
		}

		h6 {
			font-family: "bitwise";
			color: #33FF00;
		}

		p {
			font-family: "typeWrong";
		}

		.navbarWeb a {
			font-family: "bitwise";
		}

	/*background animations*/

		@keyframes colorRotate {
			0%, 100% {
				background-color: #000000;
			}
			20% {
				background-color: #251f47;
			}
			40% {
				background-color: #282828;
			}
			60% {
				background-color: #200589;
			}
			80% {
				background-color: #3a3170;
			}
		}